AhorcadoCliente/Connected Services/ServiceReference/WServiceAhorcado2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServicesAhorcado" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServicesAhorcado" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Palabra">
    <xs:sequence>
      <xs:element minOccurs="0" name="intentos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nuevaPalabra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nuevaPalabraGuion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Palabra" nillable="true" type="tns:Palabra" />
</xs:schema>