AhorcadoCliente/Connected Services/ServiceReference/WServiceAhorcado1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64938/WServiceAhorcado.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServicesAhorcado" />
  <xs:element name="GetPalabra">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPalabraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServicesAhorcado" minOccurs="0" name="GetPalabraResult" nillable="true" type="q1:Palabra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validarLetra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="letra" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="palabra" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PalabraGuion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intentos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validarLetraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServicesAhorcado" minOccurs="0" name="validarLetraResult" nillable="true" type="q2:Palabra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>